.card {

  background-blend-mode: multiply;
  background-color: rgba($black, .03);
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: 48em) {
    background-size: contain;
  }

  .card-header,
  .card-footer {
    display: none;
  }

  .card-header {
    p {
      max-width: 15.75em;
    }
  }

  .card-footer {
    align-self: flex-end;
    word-spacing: .25em;

    a {
      font-size: $font-size-small;
      font-weight: 600;
      text-transform: uppercase;
    }

    @media only screen and (max-width: 48em) {
      align-self: flex-start;
    }
  }

  &.large,
  &.medium {
    height: $line-height-base * 25;
  }

  &.large {
    grid-column-end: span 2;

    @media only screen and (max-width: 48em) {
      grid-column-end: span 1;
    }
  }

  &.medium {
    grid-row-end: span 2;

    @media only screen and (max-width: 48em) {
      grid-row-end: span 1;
    }
  }

  &.small {
    height: $line-height-base * 12;

    @media only screen and (max-width: 48em) {
      height: $line-height-base * 25;
    }
  }

  &.active {
    background-color: transparent;

    header,
    footer {

      display: block;
    }
  }
}
