.card {

  background-blend-mode: multiply;
  background-color: rgba($black, .03);
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;

  // @media only screen and (max-width: 48em) {
  //   background-size: contain;
  // }

  .card-header,
  .card-body,
  .card-footer {
    display: none;
    margin-left: $line-height-base;
    margin-right: $line-height-base;
  }

  .card-header,
  .card-footer {

    a {
      color: $white;
      &:hover {
        color: $black;
      }
    }
  }

  .card-header {
    margin-top: $line-height-base;
  }

  .card-body {
    color: $white;
    max-width: 15.75em;
  }

  .card-footer {
    word-spacing: .25em;
    margin-bottom: $line-height-base;

    @media only screen and (min-width: 48em) {

      .arrow-right {
        background-color: $white;
        color: transparent;

        &::before,
        &::after {
          background-color: $white;
        }

        &:hover {
          background-color: transparent;
          color: $white;

          &::before,
          &::after {
            background-color: transparent;
          }
        }
      }
    }
  }

  &.large,
  &.medium {
    height: $line-height-base * 25;
  }

  &.large {
    grid-column-end: span 2;

    @media only screen and (max-width: 48em) {
      grid-column-end: span 1;
    }
  }

  &.medium {
    grid-row-end: span 2;

    @media only screen and (max-width: 48em) {
      grid-row-end: span 1;
    }
  }

  &.small {
    height: $line-height-base * 12;

    @media only screen and (max-width: 48em) {
      height: $line-height-base * 25;
    }
  }

  &.active {
    background-color: $blue;

    .card-header,
    .card-body,
    .card-footer {

      display: block;
    }
  }
}
