.image {

  margin-bottom: $line-height-base;
  // margin-top: $line-height-base;

  .image-holder {

    background-color: rgba($black, .1);
    margin: 0 auto;
    max-width: 240px;
    padding-bottom: 50%;
    position: relative;

    img {
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }
}
