//
// Scaffolding
// --------------------------------------------------

// Body reset

html {
  -webkit-tap-highlight-color: rgba($black, 0);
}

body {
  background-color: $white;
  color: $black;
  display: flex;
  flex-direction: column;
  font-family: $font-family-base;
  font-size: $font-size-base;
  justify-content: space-between;
  letter-spacing: $letter-spacing-base;
  line-height: $line-height-base;
  min-height: 100vh;
}

// Selection

::selection {
  background-color: $green;
}

// Links

a {
  color: $link-color;
  text-decoration: $link-hover-decoration;

  &:hover {
    color: $link-hover-color;
  }

  &:focus {
    outline: none;
  }
}


// Images

img {
  display: block;
  height: auto;
  margin: 0 auto;
  // margin-bottom: $line-height-base;
  max-width: 100%;
  vertical-align: middle;
}

img + img {
  margin-top: $line-height-base;
}


// Tables

table {
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  width: 100%;

  tr {
    td {
      padding: 0;
      position: relative;
    }

    td + td {
      text-align: right;
    }

    td:first-child::after {
      color: rgba($black, .2);
      content: '....................................................................................................';
      left: 0;
      position: absolute;
    }
  }
}


// Flexboxgrid
//
// Minor adjustment to have container align properly on small screens

.container {

  padding: 0 1rem;
}
