//
// Layout: Index
// --------------------------------------------------

.site-title {

	.paragraph();
}

.post {

	margin-bottom: ( @golden-ratio ) + 0em;
}

.post-header {

	padding: 0 ( @golden-ratio ) + 0em;

	.post-meta {

		display: block;
		font-size: 0.875em;
	}

	.post-title {

		.heading();
	}
}