//
// Layout: Post
// --------------------------------------------------

.post-template {

	.site-header {

		position: relative;
		z-index: @z-index-assets;
	}

	.site-footer {

		min-height: ( @golden-ratio * 5 ) + 0em;
		position: relative;
		z-index: @z-index-assets;
	}
}

.post-content {

	padding-left: @golden-ratio + 0em;
	padding-right: @golden-ratio + 0em;

	p {
		max-width: @readable-width;
		margin-bottom: ( @golden-ratio * 5 ) + 0em;
		margin-top: ( @golden-ratio * 5 ) + 0em;

		&:empty {

			max-width: none;
			margin-bottom: 0;
			margin-top: 0;
		}
	}

	h1 {
		.heading();
		max-width: @readable-width / 3;
		margin-bottom: ( @golden-ratio * 2 ) + 0em;
	}

	.logo, .desktop, .laptop, .tablet, .mobile {

		margin-bottom: @golden-ratio + 0em;
	}

	.logo {

		margin-top: ( @golden-ratio * 5 ) + 0em;
	}

	.logo + h1, .logo + p, .logo + p + p {

		margin-top: 0;
	}
}
