// Globals
@import '../../core/styles/variables';

// Core
@import '../../core/styles/fonts';
@import '../../core/styles/typography';
@import '../../core/styles/images';

// Some minor body scaffolding
body {
  background-color: $white;
  color: $black;
  font-family: 'Gridnik', 'Lucida Console', Monaco, monospace;
  font-size: $font-size-base;
  letter-spacing: $letter-spacing-base;
  line-height: $line-height-base;
  margin: 0;
  padding: 0;
}
