// Globals
@import '../../core/styles/variables';

// Elements
.header {
  padding-top: 1.75em;

  .title {
    font-size: $font-size-small;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 0;
    text-transform: uppercase;
  }
}
