// Globals
@import '../../core/styles/variables';

// Elements
.intro {
  padding: ($line-height-base * 4) 0;

  &-content {
    h2 {
      font-size: 3em;
      font-weight: 200;
      line-height: .9333333333em;
      margin-bottom: 0;

      @media only screen and (min-width: 48em) {
        font-size: 5.625em;
      }
    }

    p {
      margin-top: ($line-height-base * 1.5);
    }
  }
}
