// Globals
@import '../../core/styles/variables';

// Elements
.footer {
  padding: 0 0 $line-height-base;
}

.social-media-menu {

  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }
}

.socicon {

  color: $black;
  margin-right: $line-height-base / 1.25;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &-dribbble {
    &:hover,
    &:focus {
      color: $dribbble;
    }
  }

  &-facebook {
    &:hover,
    &:focus {
      color: $facebook;
    }
  }

  &-linkedin {
    &:hover,
    &:focus {
      color: $linkedin;
    }
  }

  &-pinterest {
    &:hover,
    &:focus {
      color: $pinterest;
    }
  }

  &-skype {
    &:hover,
    &:focus {
      color: $skype;
    }
  }

  &-twitter {
    &:hover,
    &:focus {
      color: $twitter;
    }
  }

  &-whatsapp {
    &:hover,
    &:focus {
      color: $whatsapp;
    }
  }
}
