//
// Scaffolding
// --------------------------------------------------

// Body reset

html {
  // font-size: 10px;
  -webkit-tap-highlight-color: fade($black, 0);
}

body {
  background-color: $white;
  color: $black;
  font-family: $font-family-base;
  font-size: $font-size-base;
  letter-spacing: $letter-spacing-base;
  line-height: $line-height-base;
}

// Links

a {
  color: $link-color;
  text-decoration: $link-hover-decoration;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }

  &:focus {
    outline: none;
  }
}


// Images

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}


// Flexboxgrid
//
// Minor adjustment to have container align properly on small screens

.container {

  padding: 0 1rem;
}
