.project-footer {

  margin-bottom: ($line-height-base * 5);

  @media only screen and (min-width: 48em) {

    .arrow-back {
      position: absolute;
    }

    .arrow-left,
    .arrow-right {
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
    }

    .arrow-left {
      left: ($line-height-base * 2);
    }

    .arrow-right {
      right: ($line-height-base * 2);
      text-indent: -2.5em;
    }
  }
}
