img {
	height: auto;
	max-width: 100%;
}

.logo {
	height: 52px;
	width: auto;
}

.fullscreen {

	height: 200%;
	left: -50%;
	position: absolute;
	top: -50%;
	width: 200%;

	img {

		bottom: 0;
		left: 0;
		margin: auto;
		max-width: none;
		min-width: 50%;
		min-height: 50%;
		position: absolute;
		right: 0;
		top: 0;
		transform: none;
	}
}


.desktop, .laptop, .tablet, .mobile {

	display: none;

	&:before {
		border-style: solid;
		content: "";
		display: block;
		margin-bottom: 4px
	}

	img {
		background-color: black;
	}
}

.desktop, .laptop {

	&:before {
		border-width: 40px 40px 0 100px;
		border-image: url( '../images/browser-chrome.svg' ) 40 40 0 100;
	}

	img {
		border-bottom-left-radius: 1em;
		border-bottom-right-radius: 1em;
		border-top-left-radius: 0.25em;
		border-top-right-radius: 0.25em;
	}
}

.desktop {
	img {
		height: 984px;
		width: 1748px;
	}

	@media screen and ( min-width: 1815px ){
		display: inline-block;
	}
}

.laptop {
	img {
		height: 632px;
		width: 1124px;
	}

	@media screen and ( min-width: 1191px ) and ( max-width: 1814px ){
		display: inline-block;	
	}
}

.tablet, .mobile {

	&:after {
		border-style: solid;
		content: "";
		display: block;
		margin-top: -3px
	}
}

.tablet {

	&:before {
		border-width: 60px 0 0 0;
		border-image: url( '../images/tablet-chrome-top.svg' ) 60 0 0 0;
	}

	&:after {
		border-width: 68px 0 0 0;
		border-image: url( '../images/tablet-chrome-bottom.svg' ) 68 0 0 0;
	}

	img {
		border-radius: 0.25em;
		height: 700px;
		width: 627px;
	}

	@media screen and ( min-width: 694px ) and ( max-width: 1190px ){
		display: inline-block;	
	}
}

.mobile {

	&:before {
		border-width: 50px 0 0 0;
		border-image: url( '../images/mobile-chrome-top.svg' ) 50 0 0 0;
	}

	&:after {
		border-width: 50px 0 0 0;
		border-image: url( '../images/mobile-chrome-bottom.svg' ) 50 0 0 0;
	}

	img {
		border-radius: 0.25em;
		height: 300px;
		width: 230px;
	}

	@media screen and ( max-width: 693px ){
		display: inline-block;	
	}
}

.b-lazy {

	opacity: 0.05;
	.transition-default( 3 );

	&.b-loaded {

		height: auto;
		opacity: 1;
	}
}
