img {
	left: 50%;
	max-width: 100%;
	position: absolute;
	top: 50%;
	transform: translate( -50%, -50% );
}

.fullscreen {

	height: 200%;
	left: -50%;
	position: absolute;
	top: -50%;
	width: 200%;

	img {

		bottom: 0;
		left: 0; 
		margin: auto;
		max-width: none;
		min-width: 50%;
		min-height: 50%;
		position: absolute; 
		right: 0;
		top: 0;
		transform: none;
	}
}

.desktop {

	display: inline-block;
	padding: @golden-ratio + 0em;

	&:before {

		border-style: solid;
		border-width: 40px 40px 0 100px;
		border-image: url( '../images/desktop-chrome.svg' ) 40 40 0 100;

		content: "";
		display: block;
		margin-bottom: 4px
	}

	img {

		// margin: 0 0 0 -100px;

		border-bottom-left-radius: 1em;
		border-bottom-right-radius: 1em;
		border-top-left-radius: 0.25em;
		border-top-right-radius: 0.25em;

		left: auto;
		position: static;
		top: auto;
		transform: none;
	}
}