//
// Element: Links
// --------------------------------------------------

a {
	color: @gray-light;
	display: inline-block;
	margin: 0 -0.15em;
	padding: 0 0.15em;
	text-decoration: none;
	transition-duration: 160ms;

	&:hover, &:focus {

		background-color: @accent;
		color: @gray-dark;
		outline: none;
	}
}